    .design01 {
        width: 100%;
        text-align: center;
        border-collapse: collapse;
        border-spacing: 0;
       }
       .design01 tr:nth-child(2n+1) {
        background: #ffeeee;
       }
       .design01 th {
        padding: 10px;
        background: #efbebe;
        border-right: solid 1px #efbebe;
        color: #ffffff;
       }
       .design01 th:last-child {
        border-right: none;
       }
       .design01 td {
        padding: 10px;
        border-right: solid 1px #fcb7b7; 
       }
       .design01 td:last-child {
        border-right: none;
       }

.wrapper {
      display: grid;
      grid-template-columns: 1fr 1fr ;
      grid-template-rows: 100px 100px 100px 100px 100px 100px; 
      grid-gap: 10px; 
       margin-bottom: 20px;
    }
    .wrapper > div {
        h1{border-bottom: 2px dotted #000;}
        border-radius: 5px;
        background: rgb(231, 222, 222);
        border: 2px solid rgb(235, 235, 235);
        padding: 1em;
        
    }
    
    .design02{
        width:100%;
        background-color:rgb(235, 235, 235);
    }
    .design02 .container{
        max-width:1000px;
        margin:0px auto;
        padding:80px 0px;
    }
    /* content */
    @media (min-width: 992px) {
        .wrapper .container .content {
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }
    .design02 .content-item {
        width:100%;
    }
    @media (min-width: 992px) {
        .wrapper .content-item {
            width:50%;
        }
    }
    .design02 .image{
        display:block;
        max-width:50%;
        margin:0px auto;
    }
    .design02 .text{
        list-style:none;
        padding:50px;
    }
    .design02 .text .heading{
        font-size: 24px;
        text-align: center;
    }
    .design03{
        width:100%;
    }
    .design03 .container{
        max-width:1000px;
        margin:0px auto;
        padding:80px 0px;
    }
    /* content */
    .design03 .content .heading{
        margin:0px 0px 40px 0px;
        font-size: 24px;
        font-weight: normal;
        text-align: center;
    }
    @media (min-width: 992px) {
        .design03 .content .list {
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }
    
h3 {
  text-transform: uppercase;
  text-align: center;
  font-size: 30px;
  line-height: 21px;
  letter-spacing: 10px;
  margin: 48px auto 0;
}
h3 + p {
  font-size: 14px;
  font-family: serif;
  font-style: italic;
  text-align: center;
  border-top: 1px dotted #ccc;
  width: 360px;
  padding: 12px;
  margin: 12px auto 10px;
}
